.tableWrap {
  display: flex;

  width: 100%;
  height: auto;

  justify-content: center;
}

.host-apply-list {
  display: flex;

  width: 80%;
  height: auto;

  justify-content: center;

  border: 1px solid #e4e4e4;

  padding: 20px;
}

.btn-group button {
  border: none;
  border-radius: 8px;
  padding: 4px 8px;

  font-size: 12px;

  color: #ffffff;
}

#btn-accept-host {
  background-color: #b2a4ff;
}

#btn-refuse-host,
#btn-delete-host {
  background-color: #ff5c71;
}
